{% extends "Home/index.html" %}
{% block content %}
<div class="accordion" id="accordionExample" style="width: 800px; margin-left: 25%">
    {% for item, value in result.items %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#{{item|cut:' '}}" aria-expanded="true" aria-controls="{{item|cut:' '}}">
            <div class="row justify-content-center">
                <h1>{{item}}</h1>
            </div>
          </button>
        </h2>
      </div>
      <div id="{{item|cut:' '}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <br>
            {% for val in value %}

            <!-- <h1>{{result.item}}</h1> -->
            <div class="row justify-content-center">
                <img src="{{val.0}}" alt="">
            </div>  
            <br>
            <div class="row justify-content-center">
                <a href="{{val.1}}" target="_blank"><button class="btn btn-info" >View</button></a>
                <button class="btn btn-info" style="margin-left: 50px;" onclick="location.href = '{{val.2}}'">Download</button>
                
            </div>
            <br>
            {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}